body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", "Arial", serif;
  background-color: #1e1e1e;
}

.content-section {
  box-sizing: border-box;
  width: 360px;
  margin: 0 auto;
}

.content-section_theme_dark {
  background-color: #131313;
  color: #f5f5f5;
}

.content-section_theme_bright {
  background-color: #fee42a;
  color: #131313;
}

.header {
  padding: 24px 20px;
  display: flex;
  align-items: start;
  gap: 168px;
}

.cover {
  padding: 7px 20px 30px;
  background-image: url(../images/cover.svg);
  background-size: 95% auto;
  flex-shrink: 0;
  background-repeat: no-repeat;
  background-position: 20px;
}

.intro {
  padding: 0 20px 37px;
}

.reasons {
  padding: 40px 20px;
}

.how-to {
  padding: 40px 20px 60px 20px;
}

.footer {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #fee42a;
}

.header__logo-image {
  width: 78.453px;
  height: 15.432px;
}

.header__menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  list-style: none;
}

.header__menu-link {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.2px;
  color: #f5f5f5;
}

.header__menu-item_active .header__menu-link {
  text-decoration: none;
}

.cover__title {
  color: #fff;
  font-family: "EB Garamond", "Arial", serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.accent-span {
  display: block;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.intro__heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: #ccc;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.intro__date {
  white-space: nowrap;
}

.intro__main-text {
  margin-top: 24px;
  color: #f5f5f5;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.6px;
}

.content-section__subtitle {
  font-family: "EB Garamond", "Arial", serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 115%;
}

.content-section__introduction {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  padding: 32px 0;
}

.content-section__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-left: 18px;
}

.content-section__list-item {
  font-size: 16px;
  font-family: "Inter", "Arial", serif;
  font-style: normal;
  font-weight: 400;
}

.content-section__list-accent {
  font-weight: 700;
}

.cards-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  list-style: none;
}

.card,
.card__text-only {
  padding: 20px;
  border-radius: 30px;
}

.card_theme_dark {
  background-color: #343434;
  color: #f5f5f5;
}

.card_theme_bright {
  background-color: #fee42a;
  color: #131313;
}

.card__author-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-position: center;
  object-fit: cover;
}

.card__author-name {
  padding: 8px 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 135%;
}

.card__title {
  font-family: "EB Garamond", "Arial", serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 135%;
  padding-bottom: 8px;
}

.card__text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.6px;
}

.footer__copy {
  color: #f5f5f5;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
}

.footer__links {
  list-style-type: none;
  display: flex;
  gap: 16px;
}

.footer__links .footer__link {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}

.footer__links .footer__link:hover,
a:hover {
  color: #fee42a;
  font-weight: 700;
}
